
$white_color: #fff;
$black_color: #000;
$menu_color: #ffffff;
$icon_color: #0c2e60;
$color_primary-1: #2b28f1;
$icon_bg: #f0f4f6;
$author_text_color: #556172;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-black: #0000;

$btn_bg: #ffcc00;
$btn-purple: #9c0583;
$primary_color: #ffcc00;
$btn_hover: #ffcc00;
$btn_color: #251775;
$btn_bottom: #ffd900;
$section_bg: #f7f7f7;
$section_bg_1: #454545;
$heading_color: #14182d;
$heading_color2: #ff8b23;
$p_color: #7a7a7a;

$border_color: #edeff2;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;
$color-opacity: #eee;
$color-black: #2f2d2d;
$text-white: #f9f347;
$text-light-primary: #f58512;
$color-grey-dark: #777;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-2: 6rem;
$gutter-vertical-small: 6rem;

$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';
  

