
footer.footer
  .row
    .col-1-of-3
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='#') Company
          li.footer__item
            a.footer__link(href='#') Contact us
          li.footer__item
            a.footer__link(href='#') Carrers
          li.footer__item
            a.footer__link(href='#') Privacy policy
    .col-1-of-3
      p.footer__copyright
        | About Expensiver.com
    .col-1-of-3
      p.footer__copyright
        | Contac us
        | support@expensiver.com
  .footer__logo-box
    img.footer__logo(src='/img/trip.png', alt='Full logo')
  .copyright
    p.font-copyright
      | Copyright &copy; 2020  Expensiver.com. All rights reserved. Design and Development by 
      a.footer__link-2(href='#') Trinh Minh Hieu
