extends base

block content

    section.section-placetop
        .row
            h2.content-secondary
                    | Top 10 destination in the world 2020
            .listplacecountry
                a.linkplace(href='#') 1.Costa Rica
                a.linkplace(href='#') 2.New Zealand
                a.linkplace(href='#') 3.Vietnam	
                a.linkplace(href='#') 4.Ireland
                a.linkplace(href='#') 5.Scotland
                a.linkplace(href='#') 6.Australia
                a.linkplace(href='#') 7.Portugal
                a.linkplace(href='#') 8.Mexico
            .listplacecountry
                a.linkplace(href='#') 9.United States
                a.linkplace(href='#') 10.Iceland
    section.section-placelist
        .bg-video
            video#myVideo.bg-video-content(autoplay, muted, loop)
                source(src='https://player.vimeo.com/external/366980172.sd.mp4?s=48a79ac6b43e4f913feffdcee24a69c074f0b9eb&profile_id=139&oauth2_token_id=57447761', type='video/mp4')
                source(src='img/video.webm', type='video/webm')
                source(src="img/video.ogg"  type="video/ogg")
                |   Your browser does not support the video tag.
        .row
            h2.content-secondary
               | Explore 
            .listplacecountry
                a.linkplace(href='#') Argentina
                a.linkplace(href='#') Australia
                a.linkplace(href='#') Austria
                a.linkplace(href='#') Belarus
                a.linkplace(href='#') Brazil
                a.linkplace(href='#') Brunei
                a.linkplace(href='#') Bulgaria
                a.linkplace(href='#') Cambodia
            .listplacecountry
                a.linkplace(href='#') Canada
                a.linkplace(href='#') Chile
                a.linkplace(href='#') China
                a.linkplace(href='#') Costa Rica
                a.linkplace(href='#') Croatia
                a.linkplace(href='#') Cuba
                a.linkplace(href='#') Denmark
                a.linkplace(href='#') Egypt
            .listplacecountry
                a.linkplace(href='#') Estonia
                a.linkplace(href='#') Finland
                a.linkplace(href='#') France
                a.linkplace(href='#') Germany
                a.linkplace(href='#') Greece
                a.linkplace(href='#') Iceland
                a.linkplace(href='#') India
                a.linkplace(href='#') Indonesia
            .listplacecountry
                a.linkplace(href='#') Ireland
                a.linkplace(href='#') Italy
                a.linkplace(href='#') Japan
                a.linkplace(href='#') Kazakhstan
                a.linkplace(href='#') Laos
                a.linkplace(href='#') Latvia
                a.linkplace(href='#') Malaysia
                a.linkplace(href='#') Mexico
            .listplacecountry
                a.linkplace(href='#') Monaco
                a.linkplace(href='#') Myanmar 
                a.linkplace(href='#') Nepal
                a.linkplace(href='#') Netherlands
                a.linkplace(href='#') New Zealand
                a.linkplace(href='#') Norway
                a.linkplace(href='#') Pakistan
                a.linkplace(href='#') Paraguay
            .listplacecountry
                a.linkplace(href='#') Peru
                a.linkplace(href='#') Philippines 
                a.linkplace(href='#') Poland
                a.linkplace(href='#') Portugal
                a.linkplace(href='#') Qatar
                a.linkplace(href='#') Russia
                a.linkplace(href='#') Singapore
                a.linkplace(href='#') South Africa
            .listplacecountry
                a.linkplace(href='#') South Korea
                a.linkplace(href='#') Spain 
                a.linkplace(href='#') Sri Lanka
                a.linkplace(href='#') Sweden
                a.linkplace(href='#') Switzerland
                a.linkplace(href='#') Taiwan
                a.linkplace(href='#') Thailand
                a.linkplace(href='#') Timor-Leste
            .listplacecountry
                a.linkplace(href='#') Turkey
                a.linkplace(href='#') Ukraine 
                a.linkplace(href='#') United Arab Emirates
                a.linkplace(href='#') United Kingdom
                a.linkplace(href='#') United States
                a.linkplace(href='#') Uruguay
                a.linkplace(href='#') Uzbekistan
                a.linkplace(href='#') Vietnam

    section.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel United States
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/newyork.jpg', alt='')
                        h3.place-box__title 1.New York
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/orlando.jpg', alt='')
                        h3.place-box__title 2.Orlando 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/los-angeles.jpg', alt='')
                        h3.place-box__title 3.Los Angeles 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/LasVegas.jpg', alt='')
                        h3.place-box__title 4.Las Vegas
                
            // end columm
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/san-francisco.jpg', alt='')
                        h3.place-box__title 5.San Francisco
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/washington_dc.jpg', alt='')
                        h3.place-box__title 6.Washington DC
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/chicago.jpg', alt='')
                        h3.place-box__title 7.Chicago
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/SanDiego.jpg', alt='San Diego')
                        h3.place-box__title 8.San Diego

            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/seattle.jpg', alt='')
                        h3.place-box__title 9.Seattle
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Boston.jpg', alt='Boston')
                        h3.place-box__title 10.Boston
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Atlanta.jpg', alt='Atlanta')
                        h3.place-box__title 11.Atlanta
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/miami.jpg', alt='')
                        h3.place-box__title 12.Miami
                
                
    section.section-place(id='section-place vietnam')
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Viet Nam
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox.myBtns(data-modal='modals1', src='img/halongbay1.jpg', alt='Quang Ninh')
                        h3.place-box__title 1.Ha Long Bay
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/hcmcity.jpg', alt='')
                        h3.place-box__title 2.Ho Chi Minh City
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/vanmieuquoctugiam.jpg', alt='')
                        h3.place-box__title 3.Ha Noi
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/hoian.jpg', alt='')
                        h3.place-box__title 4.Hoi An
                
            // end columm
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/danang.jpg', alt='')
                        h3.place-box__title 5.Da Nang
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/hue.jpg', alt='')
                        h3.place-box__title 6.Hue
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/trangan.jpg', alt='')
                        h3.place-box__title 7.Ninh Binh
                .place-box
                     .place-box__image-box
                        img.place-box__imagebox(src='img/hontre-nhatrang.jpg', alt='hontre-nhatrang')
                        h3.place-box__title 8.Nha Trang
                
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/sondoong.jpg', alt='')
                        h3.place-box__title 9.Son-Doong Cave
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/dalatcity.jpg', alt='')
                        h3.place-box__title 10.Da Lat City
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn(data-modal='modal2', src='img/sapa.jpg', alt='Lao Cai')
                        h3.place-box__title 11.Sapa
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/phuquoc.jpg', alt='')
                        h3.place-box__title 12.Phu Quoc Island
                

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Russian
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/moscowa.jpg', alt='Moscowa')
                        h3.place-box__title 1.Moscow
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/petersburg.jpg', alt='Saint Petersburg')
                        h3.place-box__title 2.Saint Petersburg
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/kazan.jpg', alt='Kazan')
                        h3.place-box__title 3.Kazan
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Novosibirsk.jpg', alt='Novosibirsk')
                        h3.place-box__title 4.Novosibirsk 
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Sochi.jpg', alt='Sochi')
                        h3.place-box__title 5.Sochi
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Pushkin.jpg', alt='Pushkin')
                        h3.place-box__title 6.Pushkin
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Volgograd.jpg', alt='Volgograd')
                        h3.place-box__title 7.Volgograd
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Vladivostok.jpg', alt='Vladivostok')
                        h3.place-box__title 8.Vladivostok
                
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Yekaterinburg.jpg', alt='Yekaterinburg')
                        h3.place-box__title 9.Yekaterinburg
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Kaliningrad.jpg', alt='Kaliningrad')
                        h3.place-box__title 10.Kaliningrad
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Krasnodar.jpg', alt='Krasnodar')
                        h3.place-box__title 11.Krasnodar
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/baikalLake.jpg', alt='Baikal Lake')
                        h3.place-box__title 12.Baikal Lake 
                        
    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Japan
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Tokyo.jpg', alt='Tokyo')
                        h3.place-box__title 1.Tokyo
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Osaka.jpg', alt='Osaka')
                        h3.place-box__title 2.Osaka
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Kyoto.jpg', alt='Kyoto')
                        h3.place-box__title 3.Kyoto
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Nara.jpg', alt='Nara')
                        h3.place-box__title 4.Nara 
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Sapporo.jpg', alt='Sapporo')
                        h3.place-box__title 5.Sapporo
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Fukuoka.jpg', alt='Fukuoka')
                        h3.place-box__title 6.Fukuoka
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Hiroshima.jpg', alt='Hiroshima')
                        h3.place-box__title 7.Hiroshima
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Kanazawa.png', alt='Kanazawa')
                        h3.place-box__title 8.Kanazawa
                
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Yamanashi.jpg', alt='Yamanashi')
                        h3.place-box__title 9.Yamanashi
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Shibuya.jpg', alt='Shibuya')
                        h3.place-box__title 10.Shibuya
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/nangano.jpg', alt='Nagano')
                        h3.place-box__title 11.Nagano
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Naha.jpg', alt='Naha')
                        h3.place-box__title 12.Naha

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel India
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Agra.jpg', alt='Agra')
                        h3.place-box__title 1.Agra
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/NewDelhi.jpg', alt='New Delhi')
                        h3.place-box__title 2.New Delhi
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Jaipur.jpg', alt='Jaipur')
                        h3.place-box__title 3.Jaipur
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Mumbai.jpg', alt='Mumbai')
                        h3.place-box__title 4.Mumbai 
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bengaluru.jpg', alt='Bengaluru')
                        h3.place-box__title 5.Bengaluru
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Mysore.jpg', alt='Mysore')
                        h3.place-box__title 6.Mysore
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Kolkata.jpg', alt='Kolkata')
                        h3.place-box__title 7.Kolkata
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Amritsar.jpg', alt='Kanazawa')
                        h3.place-box__title 8.Amritsar
                
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Hyderabad.jpg', alt='Hyderabad')
                        h3.place-box__title 9.Hyderabad
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Pondicherry.jpg', alt='Pondicherry')
                        h3.place-box__title 10.Pondicherry
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Haridwar.jpg', alt='Haridwar')
                        h3.place-box__title 11.Haridwar
                
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Pune.jpg', alt='Pune')
                        h3.place-box__title 12.Pune

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel United Kingdom
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/London.jpg', alt='London')
                        h3.place-box__title 1.London
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Edinburgh.jpg', alt='Edinburgh')
                        h3.place-box__title 2.Edinburgh
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bath.jpg', alt='Bath')
                        h3.place-box__title 3.Bath
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Glasgow.jpg', alt='Glasgow')
                        h3.place-box__title 4.Glasgow 
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Belfast.jpg', alt='Belfast')
                        h3.place-box__title 5.Belfast
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/York.jpg', alt='York')
                        h3.place-box__title 6.York
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Brighton.jpg', alt='Brighton')
                        h3.place-box__title 7.Brighton 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Liverpool.jpg', alt='Liverpool')
                        h3.place-box__title 8.Liverpool
                
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Stirling.jpg', alt='Stirling')
                        h3.place-box__title 9.Stirling
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Manchester.jpg', alt='Manchester')
                        h3.place-box__title 10.Manchester
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Portsmouth.jpg', alt='Portsmouth')
                        h3.place-box__title 11.Portsmouth
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Blackpool.jpg', alt='Blackpool')
                        h3.place-box__title 12.Blackpool

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel France
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Paris.jpg', alt='Paris')
                        h3.place-box__title 1.Paris
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Nice.jpg', alt='Nice')
                        h3.place-box__title 2.Nice
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Versailles.jpg', alt='Versailles')
                        h3.place-box__title 3.Versailles
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Nantes.jpg', alt='Nantes')
                        h3.place-box__title 4.Nantes
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bordeaux.jpg', alt='Bordeaux')
                        h3.place-box__title 5.Bordeaux
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Lyon.jpg', alt='Lyon')
                        h3.place-box__title 6.Lyon 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Toulouse.jpg', alt='Toulouse')
                        h3.place-box__title 7.Toulouse
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Carcassonne.jpg', alt='Carcassonne')
                        h3.place-box__title 8.Carcassonne
                
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Arles.jpg', alt='Arles')
                        h3.place-box__title 9.Arles
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Strasbourg.jpg', alt='Strasbourg')
                        h3.place-box__title 10.Strasbourg
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Mont-Saint-Michel.jpg', alt='Mont-Saint-Michel')
                        h3.place-box__title 11.Mont-Saint-Michel 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Corse.jpg', alt='Corse')
                        h3.place-box__title 12.Corse

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Italy
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Roma.jpg', alt='Roma')
                        h3.place-box__title 1.Roma
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Venice.jpg', alt='Venice')
                        h3.place-box__title 2.Venice
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Florence.jpg', alt='Florence')
                        h3.place-box__title 3.Florence
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Milan.jpg', alt='Milan')
                        h3.place-box__title 4.Milan
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Pisa.jpg', alt='Pisa')
                        h3.place-box__title 5.Pisa
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Napoli.jpg', alt='Napoli')
                        h3.place-box__title 6.Napoli 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Palermo.jpg', alt='Palermo')
                        h3.place-box__title 7.Palermo
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Genova.jpg', alt='Genova')
                        h3.place-box__title 8.Genova
                
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Catania.jpg', alt='Catania')
                        h3.place-box__title 9.Catania
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Torino.jpg', alt='Torino')
                        h3.place-box__title 10.Torino
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bari.jpg', alt='Bari')
                        h3.place-box__title 11.Bari 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Cagliari.jpg', alt='Cagliari')
                        h3.place-box__title 12.Cagliari

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Australia
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Sydney.jpg', alt='Sydney')
                        h3.place-box__title 1.Sydney
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Melbourne.jpg', alt='Melbourne')
                        h3.place-box__title 2.Melbourne
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Brisbane.jpg', alt='Brisbane')
                        h3.place-box__title 3.Brisbane
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Cairns.jpg', alt='Cairns')
                        h3.place-box__title 4.Cairns
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Perth.jpg', alt='Perth')
                        h3.place-box__title 5.Perth
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Adelaide.jpg', alt='Adelaide')
                        h3.place-box__title 6.Adelaide
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/tasmania.jpg', alt='Tasmania')
                        h3.place-box__title 7.Tasmania 

                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Canberra.jpg', alt='Canberra')
                        h3.place-box__title 8.Canberra
                
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Byron Bay.jpg', alt='Byron Bay')
                        h3.place-box__title 9.Byron Bay
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Hobart.jpg', alt='Hobart')
                        h3.place-box__title 10.Hobart
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Sunshine Coast.jpg', alt='Sunshine Coast')
                        h3.place-box__title 11.Sunshine Coast 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Uluru-Kata Tjuta.jpg', alt='Uluru-Kata Tjuta')
                        h3.place-box__title 12.Uluru-Kata Tjuta

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Canada
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Toronto.jpg', alt='Toronto')
                        h3.place-box__title 1.Toronto
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Vancouver.jpg', alt='Vancouver')
                        h3.place-box__title 2.Vancouver
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Ottawa.jpg', alt='Ottawa ')
                        h3.place-box__title 3.Ottawa Capital
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Montréal.jpg', alt='Montréal')
                        h3.place-box__title 4.Montréal
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Québec.jpg', alt='Québec')
                        h3.place-box__title 5.Québec
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Edmonton.jpg', alt='Edmonton')
                        h3.place-box__title 6.Edmonton 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Winnipeg.jpg', alt='Winnipeg')
                        h3.place-box__title 7.Winnipeg
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Victoria.jpg', alt='Victoria')
                        h3.place-box__title 8.Victoria
                 

                
                
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Niagara.jpg', alt='Niagara Falls')
                        h3.place-box__title 9.Niagara Falls
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Banff.jpg', alt='Banff National Park')
                        h3.place-box__title 10.Banff National Park
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Jasper.jpg', alt='Jasper National Park')
                        h3.place-box__title 11.Jasper National Park
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Princeisland.jpg', alt='Prince Edward Island')
                        h3.place-box__title 12.Prince Edward Island
                
    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Spain
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Barcelonacity.jpg', alt='Barcelona City')
                        h3.place-box__title 1.Barcelona City
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Madrid.jpg', alt='Madrid')
                        h3.place-box__title 2.Madrid Capital
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Sevilla.jpg', alt='Sevilla ')
                        h3.place-box__title 3.Sevilla 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Granada.jpg', alt='Granada')
                        h3.place-box__title 4.Granada
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Valencia.jpg', alt='Valencia')
                        h3.place-box__title 5.Valencia
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Palma.jpg', alt='Palma')
                        h3.place-box__title 6.Palma 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Málaga.jpg', alt='Málaga')
                        h3.place-box__title 7.Málaga
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bilbao.jpg', alt='Bilbao')
                        h3.place-box__title 8.Bilbao
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Zaragoza.jpg', alt='Zaragoza')
                        h3.place-box__title 9.Zaragoza
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Córdoba.jpg', alt='Córdoba')
                        h3.place-box__title 10.Córdoba
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Toledo.jpg', alt='Toledo')
                        h3.place-box__title 11.Toledo
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Girona.jpg', alt='Girona')
                        h3.place-box__title 12.Girona
    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Greece
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Athens.jpg', alt='Athens')
                        h3.place-box__title 1.Athens
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Santorini.jpg', alt='Santorini')
                        h3.place-box__title 2.Santorini
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Crete.jpg', alt='Crete')
                        h3.place-box__title 3.Crete 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Heraklion.jpg', alt='Heraklion')
                        h3.place-box__title 4.Heraklion
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Greece-Cyclades.jpg', alt='cyclades Islands')
                        h3.place-box__title 5.Cyclades Islands
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Thessaloniki.jpg', alt='Thessaloniki')
                        h3.place-box__title 6.Thessaloniki
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Olympiagreece.jpg', alt='Olympia')
                        h3.place-box__title 7.Olympia 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Meteora.jpg', alt='Meteora')
                        h3.place-box__title 8.Meteora
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Rhodes.jpg', alt='Rhodes')
                        h3.place-box__title 9.Rhodes
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Mykonos.jpg', alt='Mykonos')
                        h3.place-box__title 10.Mykonos
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Peloponnese.jpg', alt='Peloponnese')
                        h3.place-box__title 11.Peloponnese
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Delphi.jpg', alt='Delphi')
                        h3.place-box__title 12.Delphi            

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Turkey
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Istanbul.jpg', alt='Istanbul')
                        h3.place-box__title 1.Istanbul
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Cappadocia.jpg', alt='Cappadocia')
                        h3.place-box__title 2.Cappadocia
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Pamukkale.jpg', alt='Pamukkale')
                        h3.place-box__title 3.Pamukkale 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Antalya.jpg', alt='Antalya')
                        h3.place-box__title 4.Antalya
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Izmir.jpg', alt='Izmir')
                        h3.place-box__title 5.Izmir
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bodrum.jpg', alt='Bodrum')
                        h3.place-box__title 6.Bodrum
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Kuşadası.jpg', alt='Kuşadası')
                        h3.place-box__title 7.Kuşadası 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Marmaris.jpg', alt='Marmaris')
                        h3.place-box__title 8.Marmaris
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Fethiye.jpg', alt='Fethiye')
                        h3.place-box__title 9.Fethiye
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Ankara.jpg', alt='Ankara')
                        h3.place-box__title 10.Ankara
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Side.jpg', alt='Side')
                        h3.place-box__title 11.Side
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Alanya.jpg', alt='Alanya')
                        h3.place-box__title 12.Alanya                                    

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Austria
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/vienna.jpg', alt='Vienna')
                        h3.place-box__title 1.Vienna
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Salzburg.jpg', alt='Salzburg')
                        h3.place-box__title 2.Salzburg
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Innsbruck.jpg', alt='Innsbruck')
                        h3.place-box__title 3.Innsbruck 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Graz.jpg', alt='Graz')
                        h3.place-box__title 4.Graz
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/liz.jpg', alt='Linz')
                        h3.place-box__title 5.Linz
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Melk.jpg', alt='Melk')
                        h3.place-box__title 6.Melk
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Wörthersee.jpg', alt='Wörthersee')
                        h3.place-box__title 7.Wörthersee 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Krimml.jpg', alt='Krimml')
                        h3.place-box__title 8.Krimml
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Kaprun.jpg', alt='Kaprun')
                        h3.place-box__title 9.Kaprun
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Dürnstein.jpg', alt='Dürnstein')
                        h3.place-box__title 10.Dürnstein
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Mayrhofen.jpg', alt='Mayrhofen')
                        h3.place-box__title 11.Mayrhofen
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Kufstein.jpg', alt='Kufstein')
                        h3.place-box__title 12.Kufstein      

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Barazil
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/RioDeJaneiro.jpg', alt='Rio De Janeiro')
                        h3.place-box__title 1.Rio De Janeiro
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/SaoPaolo.jpg', alt='Sao Paolo')
                        h3.place-box__title 2.Sao Paolo
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Salvador.jpg', alt='Salvador')
                        h3.place-box__title 3.Salvador 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Foz do Iguaçu.jpg', alt='Foz do Iguaçu')
                        h3.place-box__title 4.Foz do Iguaçu
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Manaus.jpg', alt='Manaus')
                        h3.place-box__title 5.Manaus
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Fortaleza.jpg', alt='Fortaleza')
                        h3.place-box__title 6.Fortaleza
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Recife.jpg', alt='Recife')
                        h3.place-box__title 7.Recife 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Belo Horizonte.jpg', alt='Belo Horizonte')
                        h3.place-box__title 8.Belo Horizonte
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Belém.jpg', alt='Belém')
                        h3.place-box__title 9.Belém
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/São Luís.jpg', alt='São Luís')
                        h3.place-box__title 10.São Luís
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Natal.jpg', alt='Natal')
                        h3.place-box__title 11.Natal
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Brasilia.jpg', alt='Brasilia')
                        h3.place-box__title 12.Brasilia  

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel South Korea
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Seoul.jpg', alt='Seoul')
                        h3.place-box__title 1.Seoul
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Busan.jpg', alt='Busan')
                        h3.place-box__title 2.Busan
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Jeju.jpg', alt='Jeju')
                        h3.place-box__title 3.Jeju 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Incheon.jpg', alt='Incheon')
                        h3.place-box__title 4.Incheon
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Daegu.jpg', alt='Daegu')
                        h3.place-box__title 5.Daegu
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Jeonju.jpg', alt='Jeonju')
                        h3.place-box__title 6.Jeonju
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Suwon.jpg', alt='Suwon')
                        h3.place-box__title 7.Suwon 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Gwangju.jpg', alt='Gwangju')
                        h3.place-box__title 8.Gwangju
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Ulsan.jpg', alt='Ulsan')
                        h3.place-box__title 9.Ulsan
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Chuncheon.jpg', alt='Chuncheon')
                        h3.place-box__title 10.Chuncheon
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Andong.jpg', alt='Andong')
                        h3.place-box__title 11.Andong
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Suncheon.jpg', alt='Suncheon')
                        h3.place-box__title 12.Suncheon      

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel South Africa
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Cape Town.jpg', alt='Cape Town')
                        h3.place-box__title 1.Cape Town
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/kruger national park.jpg', alt='Kruger National Park')
                        h3.place-box__title 2.Kruger National Park
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Johannesburg.jpg', alt='Johannesburg')
                        h3.place-box__title 3.Johannesburg 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Pretoria.jpg', alt='Pretoria')
                        h3.place-box__title 4.Pretoria
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Durban.jpg', alt='Durban')
                        h3.place-box__title 5.Durban
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Port Elizabeth.jpg', alt='Port Elizabeth')
                        h3.place-box__title 6.Port Elizabeth
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Hermanus.jpg', alt='Hermanus')
                        h3.place-box__title 7.Hermanus 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Stellenbosch.jpg', alt='Stellenbosch')
                        h3.place-box__title 8.Stellenbosch
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/George.jpg', alt='George')
                        h3.place-box__title 9.George
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Pilanesberg.jpg', alt='Pilanesberg')
                        h3.place-box__title 10.Pilanesberg
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bloemfontein.jpg', alt='Bloemfontein')
                        h3.place-box__title 11.Bloemfontein
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Graskop.jpg', alt='Graskop')
                        h3.place-box__title 12.Graskop

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Egypt
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Cairo.jpg', alt='Cairo')
                        h3.place-box__title 1.Cairo
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Luxor.jpg', alt='Luxor')
                        h3.place-box__title 2.Luxor
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Aswan.jpg', alt='Aswan')
                        h3.place-box__title 3.Aswan 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Hurghada.jpg', alt='Hurghada')
                        h3.place-box__title 4.Hurghada
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Alexandria.jpg', alt='Alexandria')
                        h3.place-box__title 5.Alexandria
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Sharm el-Sheikh.jpg', alt='Sharm el-Sheikh')
                        h3.place-box__title 6.Sharm el-Sheikh
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Dahab.jpg', alt='Dahab')
                        h3.place-box__title 7.Dahab 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Marsa Alam.jpg', alt='Marsa Alam')
                        h3.place-box__title 8.Marsa Alam
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Marsa Matruh.jpg', alt='Marsa Matruh')
                        h3.place-box__title 9.Marsa Matruh
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Quseer.jpg', alt='Quseer')
                        h3.place-box__title 10.Quseer
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Port Said.jpg', alt='Port Said')
                        h3.place-box__title 11.Port Said
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Suez.jpg', alt='Suez')
                        h3.place-box__title 12.Suez    

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Portugal
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Lisbon.jpg', alt='Lisbon')
                        h3.place-box__title 1.Lisbon
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Porto.jpg', alt='Porto')
                        h3.place-box__title 2.Porto
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Faro.jpg', alt='Faro')
                        h3.place-box__title 3.Faro 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Madeira.jpg', alt='Madeira')
                        h3.place-box__title 4.Madeira
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Sintra.jpg', alt='Sintra')
                        h3.place-box__title 5.Sintra
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Coimbra.jpg', alt='Coimbra')
                        h3.place-box__title 6.Coimbra
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Óbidos.jpg', alt='Óbidos')
                        h3.place-box__title 7.Óbidos 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Évora.jpg', alt='Évora')
                        h3.place-box__title 8.Évora
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/São Miguel.jpg', alt='São Miguel')
                        h3.place-box__title 9.São Miguel
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Aveiro.jpg', alt='Aveiro')
                        h3.place-box__title 10.Aveiro
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Nazaré.jpg', alt='Nazaré')
                        h3.place-box__title 11.Nazaré
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Braga.jpg', alt='Braga')
                        h3.place-box__title 12.Braga   

    section#section-place.section-place
        .row
            .text-box.u-margin-bottom-medium
                h2.heading-secondary
                    | Best Place Travel Indonesia
            // begin columm
            .columm
                .place-box
                    .place-box__image-box
                        a(href='/postlink')
                            img.place-box__imagebox(src='img/Bali.jpg', alt='Bali')
                        h3.place-box__title 1.Bali
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Jakarta.jpg', alt='Jakarta')
                        h3.place-box__title 2.Jakarta
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Lombok.jpg', alt='Lombok')
                        h3.place-box__title 3.Lombok 
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Gili Islands.png', alt='Gili Islands')
                        h3.place-box__title 4.Gili Islands
            
                
            // end columm
            .columm
                
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Denpasar.jpg', alt='Denpasar')
                        h3.place-box__title 5.Denpasar
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Komodo.jpg', alt='Komodo')
                        h3.place-box__title 6.Komodo
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Yogyakarta.jpg', alt='Yogyakarta')
                        h3.place-box__title 7.Yogyakarta 
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Nusa Lembongan.jpg', alt='Nusa Lembongan')
                        h3.place-box__title 8.Nusa Lembongan
                
                 
  
            .columm
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Surabaya.jpg', alt='Surabaya')
                        h3.place-box__title 9.Surabaya
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox.myBtn( src='img/Raja Ampat.jpg', alt='Raja Ampat')
                        h3.place-box__title 10.Raja Ampat
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Bandung.jpg', alt='Bandung')
                        h3.place-box__title 11.Bandung
                .place-box
                    .place-box__image-box
                        img.place-box__imagebox(src='img/Flores.jpg', alt='Flores')
                        h3.place-box__title 12.Flores                                                                                                                                                                   