extends base

block content
  
  
        section.playlist-site
          .row
            .book
              .text-box.u-margin-bottom-medium
                h1.heading-secondary Best Cheap Airlines and Best Fly
              .tablecell
                table.w100
                  thead
                    tr
                      th.thead Airlines
                      th.thead  
                      th.thead Location
                      th.thead Country
                  tbody
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://southwest.com', target='_blank')
                          strong 1.SouthWest.com
                      td.column2(data-label=' ')
                        img(src='img/Southwest_Airlines.png')
                      td.column3(data-label='Location ') North America
                      td.column4(data-label='Country') United States
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='delta.com', target='_blank')
                          strong 2.Delta.com
                      td.column2(data-label=' ')
                        img(src='/img/delta.png')
                      td.column3(data-label='Location ') North America, South America, Europe, Africa, Asia, Australia
                      td.column4(data-label='Country') United States
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://jetblue.com', target='_blank')
                          strong 3.JetBlue.com
                      td.column2(data-label=' ')
                        img(src='/img/JetBlue.png')
                      td.column3(data-label='Location ') North America, South America
                      td.column4(data-label='Country') United States
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://westjet.com', target='_blank')
                          strong 4.WestJet.com
                      td.column2(data-label=' ')
                        img(src='/img/WestJet.png')
                      td.column3(data-label='Location ') North America, Europe
                      td.column4(data-label='Country')  Canada
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://easyjet.com', target='_blank')
                          strong 5.EasyJet.com
                      td.column2(data-label=' ')
                        img(src='/img/EasyJet.png')
                      td.column3(data-label='Location ') Europe
                      td.column4(data-label='Country') United Kingdom
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='allegiantair.com', target='_blank')
                          strong 6.AllegiantAir.com
                      td.column2(data-label=' ')
                        img(src='/img/Allegiant_Air.png')
                      td.column3(data-label='Location ') United States
                      td.column4(data-label='Country') United States
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://indigo.in', target='_blank')
                          strong 7.Indigo.in
                      td.column2(data-label=' ')
                        img(src='/img/indigo.png')
                      td.column3(data-label='Location') Asia, Europe
                      td.column4(data-label='Country') India
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://interjet.com', target='_blank')
                          strong 8.InterJet.com
                      td.column2(data-label=' ')
                        img(src='/img/interjet.png')
                      td.column3(data-label='Location ') North American, South American
                      td.column4(data-label='Country') Mexico
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://airasia.in', target='_blank')
                          strong 9.AirAsia.com
                      td.column2(data-label=' ')
                        img(src='/img/air-asia.png')
                      td.column3(data-label='Location') Asia
                      td.column4(data-label='Country') Malaysia
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://nokair.com', target='_blank')
                          strong 10.NokAir.com
                      td.column2(data-label=' ')
                        img(src='/img/Nok_Air.png')
                      td.column3(data-label='Location ') Asia
                      td.column4(data-label='Country') Thailand
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://ryanair.com', target='_blank')
                          strong 11.RyanAir.com
                      td(data-label=' ', lass='column2')
                        img(src='/img/ryanair.png')
                      td(data-label='Location ', lass='column3') Europe
                      td.column4(data-label='Country') Ireland
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='spirit .com', target='_blank')
                          strong 12.Spirit.com
                      td.column2(data-label=' ')
                        img(src='/img/spirit.png')
                      td.column3(data-label='Location ') North America
                      td.column4(data-label='Country') United States
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://jetstar.com', target='_blank')
                          strong 13.Jetstar.com
                      td.column2(data-label=' ')
                        img(src='/img/Jetstar.png')
                      td.column3(data-label='Location ') Australia, Asia
                      td.column4(data-label='Country') Australia
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://volaris.com', target='_blank')
                          strong 14.Volaris.com
                      td.column2(data-label=' ')
                        img(src='/img/volaris.png')
                      td.column3(data-label='Location ') North American
                      td.column4(data-label='Country') Mexico
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://flyscoot.com', target='_blank')
                          strong 15.FlyScoot.com
                      td.column2(data-label=' ')
                        img(src='/img/flyscoot.png')
                      td.column3(data-label='Location ') Asia, Australia
                      td.column4(data-label='Country') Singapore
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='spicejet.com', target='_blank')
                          strong 16.SpiceJet.com
                      td.column2(data-label=' ')
                        img(src='/img/spicejet.png')
                      td.column3(data-label='Location ') Asia
                      td.column4(data-label='Country') India
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://cebupacific.com', target='_blank')
                          strong 17.CebuPacific.com
                      td.column2(data-label=' ')
                        img(src='/img/cebu-pacific.png')
                      td.column3(data-label='Location ') Asia, Australia
                      td.column4(data-label='Country') Philippines
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://airarabia.com', target='_blank')
                          strong 18.AirArabia.com
                      td.column2(data-label=' ')
                        img(src='/img/Air_Arabia.png')
                      td.column3(data-label='Location ') Asia, Europe, Africa
                      td.column4(data-label='Country') UAE
                    tr
                      td.column1(data-label='Airlines')
                        a.linksite(href='https://vietjetair.com', target='_blank')
                          strong 19.VietjetAir.com
                      td.column2(data-label=' ')
                        img(src='/img/VietJet_Air.png')
                      td.column3(data-label='Location ') Asia
                      td.column4(data-label='Country') Viet Nam
