extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Please enter new password.
      form.form.form__resetpassword
        .form__group.ma-bt-md
          label.form__label(for='password') Password New
          input#password.form__input(type='new-password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Password Confirm
          input#passwordConfirm.form__input(type='new-password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Save